{{ member:login_form
  attr="class:form|id:form"
  return="/member/dashboard"
  allow_request_return="true"
}}
  {{ if error }}
  <div class="alert alert--danger" id="message">
    <p>{{ error }}</p>
  </div><!-- END .alert -->
  {{ endif }}

  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" value="{{ old_values:username }}" required>
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
  </div>

  <div>
    <button type="submit" class="btn">Login</button>
  </div>
{{ /member:login_form }}
