{{ member:profile_form attr="class:form|id:form" return="/member/password-updated" }}
  {{# required fields #}}
  <input type="hidden" name="first_name" value="{{ old_values:first_name }}">
  <input type="hidden" name="last_name" value="{{ old_values:last_name }}">
  <input type="hidden" name="email" value="{{ old_values:email }}">

  {{ if error }}
    <p class="error">{{ error }}</p>
  {{ elseif success }}
    <p class="success">{{ success }}</p>
  {{ endif }}

  <div>
    <b>Username:</b> {{ old_values:username }}
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
    {{ if field_errors:password }}
      <small class="error">{{ field_errors:password }}</small>
    {{ endif }}
  </div>

  <div>
    <label for="password_confirmation">Password Again:</label>
    <input type="password" name="password_confirmation" id="password_confirmation">
    {{ if field_errors:password_confirmation }}
      <small class="error">{{ field_errors:password_confirmation }}</small>
    {{ endif }}
  </div>

  <div>
    <button type="submit" class="btn">Change Password</button>
  </div>
{{ /member:profile_form }}
