---
title: Email Sent
---

<main role="main">
    <h2>Thank You</h2>
    <p>We have sent you an email with instructions on how to reset your password. You have 20 mins to click the link in the email and reset the password. Once this time has elapsed, the link will become void and you will need to submit your username again to the <a href="/member/forgot-password">forgot password</a> page.</p>
</main>

{{#
    ====================================
    NOTES
    ====================================

    You set how long you have for the reset link to be clicked in  _config/member/member.yaml

    #}}
