---
title: Forgot Password
---

<main role="main">
    <h2>Forgot Password</h2>
    <p>Please enter your username below and we will email your reset password details. If you have forgotten your username please <a href="/contact">contact us</a> and we will be happy to help.</p>
    {{ member:forgot_password_form
        return="/member/email-sent"
    }}
    <div>
        <label for="username">Username</label>
        <input type="text" name="username">
    </div>
    <button type="submit">Submit</button>
    {{ /member:forgot_password_form }}
</main>
